
/* Flex-direction */
.f-row{
  display: flex;
  flex-direction: row;
}

.f-column{
  display: flex;
  flex-direction: column;
}


/* Flex-justify */
.fj-start{
  justify-content: flex-start;
}

.fj-center{
  justify-content: center;
}

.fj-end{
  justify-content: flex-end;
}

.fj-between{
  justify-content: space-between;
}

.fj-evenly{
  justify-content: space-evenly;
}

.fj-around{
  justify-content: space-around;
}



/* Flex-align */
.fa-start{
  align-items: flex-start;
}

.fa-center{
  align-items: center;
}

.fa-end{
  align-items: flex-end;
}


/* 완전 가운데 */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
