*{
  box-sizing: border-box;
  margin: 0;
}

body{
  height:2000px;
  background-color: #FAFAFA;
  color:#262626;
}

/* Reset CSS */
a{
  display: block;
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea{
  outline: none;
  box-shadow: none;
  color: #262626;
  font-size: 14px;
  font-weight: 400;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active{
  outline: none;
  box-shadow: none;
}

ol,
ul,
li{
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}




/* Custom Grid System - Fix countainer width */
@media screen and (min-width:1200px) {
  .container{
    max-width: 960px !important;
  }
}

@media screen and (min-width:768px) {
  .container{
    min-width: 960px !important;
  }
}


/* <= 768px (Mobile & ipad) */
/* Common CSS */
.frame-white{
  padding:16px;
  border:1px solid #DBDBDB;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.frame-trans{
  padding:16px;
  background-color: transparent;
}

.btn-blue{
  width:122px;
  height:30px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #0095F6;
  font-size: 14px;
  font-weight: 600;
  color:#FFFFFF;
  cursor: pointer;
}

.btn-white{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.166666666666667;
  color:#0095F6;
  cursor: pointer;
}



/* Header */
body > header{
  position: sticky;
  z-index: 1;
  top:0;
  width:100%;
  margin-bottom: 1px;
  border-bottom: 1px solid #DBDBDB;
  background-color: #FFFFFF;
}

header .col-12{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:54px;
  margin:0 auto;
}

/* Header - Title */
.instagram-title a{
  display: flex;
  justify-content: center;
  align-items: center;
  width:103px;
}

.instagram-title img{
  display: block;
  width:100%;
  height:auto;
}

/* Header - Menu */
.menu{
  display: flex;
}

.menu-lists{
  display: block;
  width: 22px;
  height:22px;
  margin-right: 20px;
}

.menu-lists img{
  display: block;
  width:100%;
  height:auto;
}

.profile-image{
  width:100%;
  height: 100%;
  margin: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  background-image: url('./assets/user.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

/* Header - User search */
.user-search{
  display:none;
}



/* Main */
body > .container{
  padding:0;
}

/* Main - New-story */
main .row:first-child{
  margin-bottom: 24px;
}

.new-story{
  display: flex;
  align-items: center;
  height:118px;
  margin-bottom: 16px;
}

.user-card{
  margin-right: 18px;
}

.user-card:last-child{
  margin-right: 0;
}

.new-mark{
  width:66px;
  height:66px;
  padding:2px;
  margin: 0 auto 4px auto;
  border-radius: 50%;
  background-image: url('./assets/status.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.user-image{
  width:62px;
  height:62px;
  padding: 2px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.user-image-frame{
  position: relative;
  width:58px;
  height:58px;
  overflow: hidden;
  border:1px solid #DBDBDB;
  border-radius: 50%;
}

.user-image img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width:100%;
  height:auto;
}

.user-id{
  font-size: 12px;
  font-weight: 400;
  line-height: 1.166666666666667;
  color:#8E8E8E;
}


/* Main - Feed Lists */
.feed-lists{
  padding:0;
}

/* Main - Feed Lists(Header) */
.feed-header,
.feed-user a{
  display: flex;
  align-items: center;
}

.feed-header{
  position: relative;
  padding:16px;
  border:none;
  background-color: transparent;
}

.feed-user a{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.285714285714286;
  text-decoration: none;
  color:#262626;
}

.image-frame{
  position: relative;
  width:32px;
  height:32px;
  border-radius: 50%;
  margin-right: 14px;
  overflow: hidden;
}

.image-frame img{
  position: absolute;
  width:32px;
  height:auto;
  top: 50%;
  transform: translateY(-50%);
}

.feed-modal-button{
  position: absolute;
  right:12px;
  width:24px;
  height:24px;
  border: none;
  outline: none;
  cursor:pointer;
  background-color: transparent;
  background-image: url('./assets/option.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center center;
}




/* Main - Feed Lists(Section) */
main > section{
  margin-bottom: 12px;
}

main > section .row{
  margin-bottom: 15px;
}

main > section .row:last-child{
  margin-bottom: 0;
}

.upload-image{
  display: block;
  width:100%;
  height: auto;
  margin-bottom: 4px;
}

.feed-button-group,
.feed-comment{
  padding:0 16px 8px 16px;
}

.feed-button-group{
  margin-bottom: 8px;
}

.user-action{
  display: flex;
  justify-content: space-between;
}

.user-action span{
  position: relative;
  left:-8px;
}

.user-action > button{
  position: relative;
  right:-8px;
  background-color: transparent;
}

.user-action-items{
  width:40px;
  height:40px;
  padding:8px;
  border: none;
  outline: none;
  background-color: #FAFAFA;
  cursor: pointer;
}

.user-action-items img{
  display: block;
  width:100%;
  height: auto;
}

.like-count{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.285714285714286;
  color:#262626;
}

.feed-comment ol{
  padding:0;
  list-style: none;
  font-size: 14px;
}

.feed-comment-lists{
  position: relative;
  margin-bottom: 4px;
  text-align: left;
}

.feed-comment-lists a{
  display: inline-block;
  margin-right: 4px;
  font-weight: 600;
  color:#262626;
  line-height: 1.285714285714286;
  text-decoration: none;
}

.feed-comment-lists::after{
  content:'';
  display: inline-block;
  position: absolute;
  right:0;
  width:12px;
  height:12px;
  margin: 3px 0 3px 8px;
  background-image: url('./assets/feed.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.feed-comment ol li:first-child::after{
  content:'';
  display: inline-block;
  background-image: url('');
}

.feed-comment-upload-time{
  display: inline-block;
  font-size: 10px;
  line-height: 1.7;
  color:#8E8E8E;
}


/* Main - Feed Lists(Footer) */
.feed-content-footer{
  display: none;
}


/* Main - Footer(Header) */
footer.frame-white {
  height:280px;
  padding: 12px 17.5px;
  margin:0;
  border-radius: 4px;
}

.recommend-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.285714285714286;
  color:#8E8E8E;
}

.recommend-header a{
  text-decoration: none;
  color: #21A2F6;
}

.user-card-container{
  display: flex;
  overflow: hidden;
}

.recommend-user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:174px;
  padding: 16px;
  margin:0;
  margin-right: 20px;
  border-radius: 4px;
  text-align: center;
}

.recommend-user-img{
  width:77px;
  height:77px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 8px;
}

#soup-jo{
  background-image: url('./assets/soup-jo.jpg');
}

#standing-min{
  background-image: url('./assets/standing-min.jpg');
}

#spongebob{
  background-image: url('./assets/spongebob.jpg');
}

.recommend-user-id{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 42px;
}

.recommend-user-id strong{
  margin: 0 4px 4px 0;
  font-size: 14px;
  font-weight: 600;
  color:#262626;
}

.recommend-user-id::after{
  content: 'Instagram 추천';
  display: block;
  position: absolute;
  bottom:-15px;
  font-size: 12px;
  line-height: 1.166666666666667;
  color: #8E8E8E;
}

.recommend-badge{
  display: block;
  width:18px;
  height: 18px;
  background-image: url('./assets/badge.png');
}

.follow-button{
  width:134px;
  height:30px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #21A2F6;
  font-size: 14px;
  font-weight: 600;
  color:#FFFFFF;
  cursor: pointer;
}


/* Aside - Recommend Lists */
.col-md-4{
  display: none;
}


/* >= 768px (Desktop) */
@media screen and (min-width:768px) {
  /* Common CSS */
  .frame-trans{
    border:1px solid #DBDBDB;
    border-radius: 3px;
    background-color: #FFFFFF;
  }

  .btn-blue{
    width:134px;
  }



  /* Header */
  body > header{
    margin-bottom: 30px;
  }


  /* Header - User search */
  .user-search{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .user-search input{
    width: 215px;
    height:28px;
    padding-left: 26px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-color: #FAFAFA;
    outline: none;
  }

  .user-search-etc i,
  .user-search-cancel{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding:0;
  }

  .user-search-etc i{
    font-size: 10px;
    color:#C7C7C7;
    left:10px;
  }

  .user-search-cancel{
    right:7px;
    width:14px;
    height:14px;
    padding-left: 1px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color:#C7C7C7;
    color:#FFFFFF;
    cursor: pointer;
  }

  /* Main */
  body > .container{
    padding:0 15px;
  }

  .new-story{
    margin-bottom: 24px;
  }

  .feed-header{
    border-bottom: 1px solid #DBDBDB;
    margin:0;
  }

  .user-action-items{
    background-color: #FFFFFF;
  }



  /* Main - Feed Lists(Section) */
  main > section,
  main > section .row{
    margin-bottom: 60px;
  }

  .feed-content{
    border-bottom:1px solid #EDEDED;
  }

  /* Main - Feed Lists(Footer) */
  .feed-content-footer{
    display: block;
  }

  .leave-comment{
    display: flex;
    align-items: center;
    height: 55px;
    padding:0 16px;
  }

  .leave-comment textarea{
    width:100%;
    height: 1.5em;
    resize: none;
    overflow: auto;
    padding: 0;
    border: none;
    outline:none;
    font-family: "Malgun Gothic";
    font-size: 14px;
    line-height: 1.5;
  }

  .leave-comment textarea::placeholder{
    font-family: "Malgun Gothic";
  }

  .leave-comment-button{
    width:30px;
    padding: 0;
    border:none;
    outline: none;
    background-color: transparent;
    font-weight: 600;
    color:#B1DEFC;
    cursor: pointer;
  }


  /* Main - Footer(Header) */
  footer.frame-white {
    padding: 20px 24px;
  }

  .recommend-user-card {
    padding: 20px;
  }

  .recommend-user-img{
    width:54px;
    height:54px;
    margin-bottom: 20px
  }


  /* Aside - My Profile */
  aside{
    width:293px;
    top: 110px;
  }

  .aside-content{
    position: sticky;
    top:50%;
    left:32px;

  }

  .my-profile{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:293px;
    height: 56px;
    margin-bottom: 29px;
  }

  .my-profile div{
    position: absolute;
    left:76px;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.285714285714286;
  }

  .my-profile h1{
    position: relative;
    width:56px;
    height:56px;
    border-radius: 50%;
    overflow: hidden;
  }

  .my-profile img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height: auto;
    margin-right: 20px;
  }

  .my-profile div a{
    text-decoration: none;
    color:#262626;
    margin-bottom: 4px;
  }

  .my-profile div strong{
    text-decoration: none;
    color:#8E8E8E;
  }


  /* Aside - Recommend Lists */
  .col-md-4{
    display: block;
  }

  aside{
    position: fixed;
  }

  .aside-recommend{
    position: relative;
    width:293px;
    height: 293px;
  }

  .aside-recommend h2{
    position: relative;
    left: -3px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #8E8E8E;
  }

  .aside-recommend a{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: 600;
    color: #262626;
    text-decoration: none;
  }

  .aside-recommend ul{
    position: relative;
    left: -16px;
    padding:0;

  }

  .aside-recommend-lists{
    position: relative;
    display: flex;
    height: 48px;
    padding:8px 16px;
  }

  .aside-recommend-lists img{
    width:32px;
    height:32px;
    margin-right: 12px;
    border: 1px solid #DBDBDB;
  }

  .aside-recommend-lists strong{
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color:#262626;
  }

  .aside-recommend-lists strong::after{
    content: 'Instagram 추천';
    display: block;
    font-size: 12px;
    font-weight: 400;
    color:#8E8E8E;
  }

  .aside-recommend-lists button{
    position: absolute;
    right:-16px;
    top:50%;
    transform: translateY(-50%);
  }
}
