/* >=640px (태블릿) */
@media screen and (min-width: 640px) {
  /* Section - Main-Section-Banner */
  .slider-button{
    display: block;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

  .banner:hover .slider-button{
    opacity: 1;
  }

  /* Section.ranking */
  .rank-list{
    padding: 6px 8px;
    margin: 0 -16px;
  }

  /* Section.new-webtoon */
  .new-webtoon .section-work-list-items{
    width: calc((100vw - 112px) / 4);
  }

  /* Section.recommendation */
  .recommendation .section-work-list-items{
    width: 320px;
  }
}


/* >=960px (데스크탑) */
@media screen and (min-width: 960px) {
  /* Section.ranking */
  .rank-list{
    padding: 8px 0;
    margin: 0;
  }

  .mobile-rank-button-group{
    display: none;
  }


  .ranking > div:last-child{
    display: flex;
  }


  /* Section.ranking - div */
  .desktop-rank-title-group{
    display: flex;
  }

  .desktop-rank-title-group .article-title{
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.5;
  }

  .rank-real-time,
  .rank-new,
  .rank-event{
    display: block;
    width: calc((100% - 48px) / 3);
    margin-right: 24px;
  }

  .rank-event{
    margin-right: 0 !important;
  }


  /* Section.new-webtoon */
  .new-webtoon-title{
    padding-top: 12px;
    margin-bottom: 16px;
  }

  .new-webtoon .section-work-list-items{
    width: calc((100% - 48px) / 4);
  }


  /* Section.recommendation */
  .recommendation .section-work-list-items{
    width: calc((100% - 48px) / 3);
  }


  /* DIV.affiliate-point */
  .affiliate-point{
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 24px;
    overflow: hidden;
  }

  .affiliate-point-image{
    width: 100%;
    height: auto;
  }


  /* Aside.lezhin-aside */
  .main-aside-title{
    height: 100px;
  }

  .main-aside-title-image{
    height: 32px;
  }

  .lezhin-app-list-items,
  .lezhin-app-list-items:first-child{
    width: calc((100% - 32px) / 3);
    margin-right: 16px;
  }

  .lezhin-app-list-items:first-child{
    margin-bottom: 0;
  }
}


/* >= 1054px (라지 데스트탑) */
@media screen and (min-width: 1054px) {

}


/* >=1280px (와이드 데스크탑) */
@media screen and (min-width: 1280px) {
  /* Section.ranking */
  .desktop-rank-title-group{
    display: flex;
  }

  .desktop-rank-title-group .article-title{
    margin: 16px auto 16px 0;
  }

  .rank-real-time,
  .rank-new,
  .rank-event{
    display: block;
    width: calc((100% - 64px) / 3);
    margin-right: 32px;
  }


  /* Section.new-webtoon */
  .new-webtoon .section-work-list-items{
    width: calc((100% - 72px) / 4);
  }


  /* Aside.lezhin-aside */
  .lezhin-app-list-items,
  .lezhin-app-list-items:first-child{
    width: calc((100% - 48px) / 3);
    margin-right: 24px;
  }
}
