/* Section.banner */
.banner{
  position: relative; top:0; left: 0;
  padding-top: 0;
  margin-bottom: 16px;
}

.banner-images{
  width: 100%;
}

.slider-button{
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../assets/images/banner_arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pre-button{
  background-position: right;
  left: 32px;
}

.next-button{
  right: 32px;
}


/* Section.ranking */
.rank-list{
  padding: 6px 0;
  margin: 0 -8px;
  width: auto;
}

.rank-button{
  padding: 0 8px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.428571428571429;
  background-color: rgba(0, 0, 0, 0);
}

.mobile-rank-button-group{
  display: flex;
  align-items: center;
}

.rank-button-group{
  margin-right: auto;
}

.rank-active::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  display: block;
  width: 100%;
  height: 2px;
  border-left: 8px solid #FFF;
  border-right: 8px solid #FFF;
  background-color: #000;
}

.desktop-rank-title-group{
  display: none;
}


/* Section.ranking - article.rank-new */
.rank-new,
.rank-event{
  display: none;
}


/* Section.new-webtoon */
.new-webtoon .section-work-list-items{
  width: calc((100vw - 64px) / 2);
}

.new-webtoon .section-work-title{
  font-size: 16px;
  line-height: 1.5;
}

/* Section.recommendation */
.recommendation .section-work-list-items{
  width: 240px;
}
