/* Section.banner */
.banner{
  position: relative; top:0; left: 0;
  padding-top: 0;
  margin-bottom: 16px;
}

.banner-images{
  width: 100%;
}

.slider-button{
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../assets/images/banner_arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pre-button{
  background-position: right;
  left: 32px;
}

.next-button{
  right: 32px;
}


/* Section.ranking */
.ranking{
  margin-bottom: 24px;
}

.rank-list{
  padding: 6px 0;
  margin: 0 -8px;
  width: auto;
}

.rank-button{
  padding: 0 8px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.428571428571429;
  background-color: rgba(0, 0, 0, 0);
}

.mobile-rank-button-group{
  display: flex;
  align-items: center;
}

.rank-button-group{
  margin-right: auto;
}

.rank-active::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  display: block;
  width: 100%;
  height: 2px;
  border-left: 8px solid #FFF;
  border-right: 8px solid #FFF;
  background-color: #000;
}

.desktop-rank-title-group{
  display: none;
}


/* Section.ranking - article.rank-new */
.rank-new,
.rank-event{
  display: none;
}


/* Section.new-webtoon */
.new-webtoon .section-work-list-items{
  width: calc((100vw - 64px) / 2);
}

.new-webtoon .section-work-title{
  font-size: 16px;
  line-height: 1.5;
}


/* Section.lezhin-event */
.lezhin-event .main-section-title::after{
  content: '👀';
}

.lezhin-event-word{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}

.lezhin-event-word::before,
.lezhin-event-word::after{
  content: '✨';
}


/* Section.recommendation */
.recommendation .section-work-list-items{
  width: 240px;
}


/* Section.lezhin-shop */
.lezhin-shop .section-work-list-items > picture{
  order: 1;
}

.lezhin-shop .section-work-list-items > .section-work-title{
  order: 2;
}

.lezhin-shop .section-work-list-items > .price{
  order: 3;
}

.price,
.price-amount{
  font-size: 12px;
  color: #333333;
}

.price{
  /* display: flex; */
}

.price-amount{
  font-weight: 500;
}

.lezhin-shop-discount::after{
  content: '10%';
  padding: 1px 0 0 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333333333333333;
  color: #5A719A;
}



/* DIV.affiliate-point */
.affiliate-point{
  width: 100%;
  height: 108px;
  margin: 8px 0;
  overflow: hidden;
}

.affiliate-point-image{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 230px;
}


/* Aside.lezhin-aside */
.main-aside-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.main-aside-title-image{
  height: 16px;
}

.lezhin-app-list{
  display: flex;
  flex-wrap: wrap;
}

.lezhin-app-list-items{
  width: calc((100% - 8px) / 2);
  border: 1px solid #dbdee3;
  margin-right: 8px;
}

.lezhin-app-list-items:first-child{
  width: 100%;
  margin-right: 0;
  margin-bottom: 8px;
}

.lezhin-app-list-items:last-child{
  margin-right: 0 !important;
}

.lezhin-app-image{
  width: 100%;
}
