/* Header */
.comics-header{
  display: none;
}

/* Main */
.comics-main{
  padding: 0;
  padding-bottom: 16px;
  margin: 0;
}


/* Article - lezhin-article-works-desc */
.lezhin-article-works-info{
  padding: 100% 16px 32px 16px;
  line-height: 1.714285714285714;
  color: #ACB4BF;
}

.lezhin-article-works-title,
.lezhin-article-works-home-button,
.lezhin-article-works-form,
.lezhin-article-works-info > p,
.lezhin-article-works-desc,
.purchase-button-group{
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.lezhin-article-works-title{
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 500px;
  line-height: 1.357142857142857;
  color: #FFF;
}

.lezhin-article-works-home-button{
  position: absolute;
  top: 16px;
  left: 0;
  padding: 0 22px 0 40px;
  font-size: 16px;
  line-height: 3;
  color: #FFF;
}

.go-to-home-arrow::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/images/icon-90deg-arrow.svg");
  background-repeat: no-repeat;
  transform-origin: left top;
  transform: rotate(-45deg);
}

/* form */
.lezhin-article-works-form{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.lezhin-article-works-checkbox{
  position: absolute;
  z-index: -99;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.lezhin-article-works-label{
  position: relative; top: 0; left: 0;
  height: 48px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 100px;
  background-color: rgba(69,76,85,0.8);
  color: #ACB4BF;
  cursor: pointer;
}

.lezhin-article-works-label:last-child{
  margin-right: 0;
}

.pick-label{
  display: flex;
  padding: 10px 20px;
}

.pick-label::before{
  content: '';
  position: relative;
  top: -10px;
  left: -2px;
  display: block;
  width: 24px;
  height: 48px;
  background-image: url("../../assets/images/btn-star.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: top -1px right 50%;
}

.pick-label:hover::before{
  background-position: center;
}

#pick:checked + .pick-label::before{
  content: '';
  position: relative;
  top: -10px;
  left: -2px;
  display: block;
  width: 24px;
  height: 48px;
  background-image: url("../../assets/images/btn-star.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: bottom -1px right 50%;
}

.like-label,
.dislike-label{
  flex-shrink: 0;
  width: 48px;
}

.like-label{
  background-image: url("../../assets/images/btn-voteup.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: top 0 center;
}

.like-label:hover{
  background-position: top 33% center;
}

.like-label-checked{
  flex-shrink: 0;
  width: 48px;
  background-image: url("../../assets/images/btn-voteup.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: bottom -2px center;
}

.like-label-inactive{
  flex-shrink: 0;
  width: 48px;
  background-image: url("../../assets/images/btn-voteup.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: top 66% center;
}

.dislike-label{
  background-image: url("../../assets/images/btn-votedown.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: top 0 center;
}

.dislike-label:hover{
  background-position: top 33% center;
}

.dislike-label-checked{
  flex-shrink: 0;
  width: 48px;
  background-image: url("../../assets/images/btn-votedown.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: bottom -2px center;
}

.dislike-label-inactive{
  flex-shrink: 0;
  width: 48px;
  background-image: url("../../assets/images/btn-votedown.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: top 66% center;
}


/* p */
.lezhin-article-works-desc > p{
  margin-bottom: 6px;
}

.lezhin-article-works-genre{

}

.lezhin-article-works-author{
  line-height: 2.571428571428571;
  color: #738DB5;
}

.lezhin-article-works-author:hover,
.lezhin-article-works-hashtag-anchor:hover{
  text-decoration: underline;
}

.lezhin-article-works-hashtag{
  position: relative;
  left: -8px;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
  color: #738DB5;
}

.lezhin-article-works-hashtag-anchor{
  padding: 0 8px;
}

.lezhin-article-works-hashtag-anchor::before{
  content: '#';
}

.lezhin-article-works-desc{
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 8px;
  background-color: rgba(0, 0, 0, 0);
  color: #ACB4BF;
}

.lezhin-article-works-desc::after{
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  margin-left: 8px;
  background-image: url("../../assets/images/arrow-showextend.png");
  background-repeat: no-repeat;
  background-size: 6px;
}

.purchase-button-group{
  display: flex;
  padding-top: 15px;
  overflow: hidden;
}

.purchase-all,
.show-first-episode{
  font-size: 16px;
  line-height: 2.75;
  color: #FFF;
  border: 2px solid #EB0026;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
}

.purchase-all{
  min-width: 100px;
  width: 40%;
  margin-right: 8px;
}

.show-first-episode{
  min-width: 120px;
  width: 60%;
  text-align: center;
  background-color: #EB0026;
}

.lezhin-article-works-image-group{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.lezhin-article-works-image-group::before{
  content: '';
  position: absolute; top: 0; left: 0;
  z-index: 2;
  width: 100%;
  padding-bottom: 134%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),transparent 23%, transparent 32%, rgba(0,0,0,0.05) 42%, rgba(0,0,0,0.1) 50%, #000);
}

.lezhin-article-works-image{
  width: 100%;
}


/* Section - lezhin-section-episodes */
.lezhin-section-episode-div{
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;
  margin-bottom: 4px;
  line-height: 3.142857142857143;
  background-color: #FFF;
}

.lezhin-section-episode-update{
  margin-right: auto;
}

.lezhin-section-episode-align{
  display: flex;
  align-items: center;
  height: 44px;
  background-color: rgba(0, 0, 0, 0);
  color: #333333;
}

.lezhin-section-episode-align::before{
  content: '';
  width: 13px;
  height: 13px;
  margin-right: 4px;
  background-image: url("../../assets/images/icon-episode-sort.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.lezhin-section-episode-list{
  padding: 0 8px;

}

.lezhin-section-episode-list-items{
  display: flex;
  margin-bottom: 8px;
}

.lezhin-section-episode-list-items:last-child{
  margin-bottom: 0;
}

.lezhin-section-episode-list-items > div{
  width: 100%;
  padding: 12px 0;
  overflow: hidden;
}

.lezhin-section-episode-image{
  width: 78px;
  margin-right: 14px;
}

.lezhin-section-episode-part{
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.333333333333333;
  color: #707070;
}

.lezhin-section-episode-title{
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  margin-bottom: 12px;
  color: #333333;
}

.lezhin-section-episode-date{
  display: flex;
  justify-content: space-between;
}

.lezhin-section-episode-date > p{
  font-size: 12px;
  color: #707070;
}

.lezhin-section-episode-date > p:last-child{
  margin-right: 16px;
  color: #585858;
}

/* Footer */
.comics-footer{
  display: none;
}


/* 정렬 */
.flex-direction-reverse{
  display: flex;
  flex-direction: column-reverse;
}


/* 장르 & 이용나이 */
/* 장르 */
.genre-drama::before,
.genre-daily-life::before{
  margin-right: 8px;
}

.genre-drama::before{
  content: '드라마';
}

.genre-daily-life::before{
  content: '일상';
}

/* 이용나이 */
.age-all::after{
  margin-left: 8px;
}

.age-all::after{
  content: '전체 이용가';
}

/* 코인 */
.free::after{
  content: '무료';
}

.coin-2::after{
  content: '2코인';
}

.coin-3::after{
  content: '3코인';
}

.coin-4::after{
  content: '4코인';
}
