:root {
  /* color */
  --red: #ff2e4b;
  --rose: #eb0026;
  --darkblue: #5A719A;
  --gray: #707070;
  --lightgray: #adadad;
  --darkgray: #333333;
  --transparent: rgba(0, 0, 0, 0);
  --black: #000;
  --hr: #dbdee3;

  --borderGray: #c5cbd3;

  /* background */
  --bgGreen: #00c73c;
  --bgBlue: #1877f2;

  /* button */
  --inactiveBorder: #c6cbd4;
  --inactiveBackground: #dbdee3;
  --inactiveFont: #ccc;
  --font: #585858;
  --active: #eb0026;
}

.sign-up {
  padding: 16px;
}

.sign-up-agree {
  width: 100%;
}

.sign-up-title{
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.75;
}

/* form-button: Common CSS */
.form-button{
  flex: 1;
  width: 100%;
  border: 1px solid var(--inactiveBorder);
  border-radius: 2px;
  font-size: 14px;
  line-height: 3.428571428571429;
  background-color: #FFF;
  color: var(--font);
  transition: background-color 250ms ease-in-out;
}


/*
  Form
  #accept-terms-form
*/
hr{
  margin: 6px 0;
  border-top: 1px solid var(--border);
}

.required-checkbox{
  display: flex;
  align-items: center;
}

#accept-terms-form label{
  display: flex;
  align-items: center;
  position: relative;
  border-top: 6px solid var(--transparent);
  border-bottom: 6px solid var(--transparent);
  color: var(--gray);
}

#accept-terms-form label.bold{
  font-weight: 500;
  color: var(--darkgray);
}

#accept-terms-form input{
  position: relative;
  width: auto;
  margin-right: 15px;
}

/* custom checkbox */
#accept-terms-form input::before{
  content: '';
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid var(--lightgray);
  border-radius: 2px;
  background-color: #fff;
}

#accept-terms-form input::after{
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-30%, -75%) rotate(-45deg);
  display: inline-block;
  width: 10px;
  height: 4px;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  border-radius: 2px;
}

.details{
  margin-left: auto;
  color: var(--darkblue);
  text-decoration: underline;
}

/* (필수)/(선택) 표현 */
#accept-terms-form input[data-type="required"] + span::after{
  content:'(필수)';
  color: var(--red);
  font-weight: 400;
}

#accept-terms-form input[data-type="choice"] + span::after{
  content:'(선택)';
}

/* Checked & hover CSS */
#accept-terms-form input:hover::before,
#accept-terms-form input:hover + *{
  border-color: var(--gray);
  color: var(--darkgray);
}

#accept-terms-form input:checked::before{
  border-color: var(--red);
  background-color: var(--red);
}

#accept-terms-form input:checked:hover::before{
  border-color: var(--red);
}

#accept-terms-form input:checked + *{
  color: var(--darkgray);
}


.button-group{
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.cancle{
  margin-right: 2%;
  cursor: default;
}

.full-button{
  border: none;
  background-color: var(--inactiveBackground);
  color: #fff;
  pointer-events: none;
}

.button-active{
  background-color: var(--active);
  pointer-events:inherit;
}


.contact{
  margin: 40px 0;
  font-size: 12px;
  color: var(--gray);
}

.contact a{
  text-decoration: underline;
}

/*
  Form
  #email-form
*/
#email-form{
  width: 300px;
  margin: 0 auto;
}

#email-form label{
  position: relative;
  line-height: 2;
  padding: 5px 0;
}

#email-form input{
  width: 100%;
  padding: 0 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--borderGray);
  font-size: 16px;
  line-height: 2;
}

.label-strong{
  position: absolute;
  left: 0; top: 0;
  font-weight: 500;
  color: var(--darkblue);
  transition: all 250ms ease-in-out;
}

.label-strong.focus{
  font-size: 12px;
  transform: translateY(-100%);
}

.info{
  font-size: 12px;
  line-height: 1.333333333333333;
  color: var(--darkgray);
}

.no-input,
.error{
 color: var(--rose);
}

.mail-button-group{
  margin: 24px 0;
}

button[name='reSend']{
  border-color: var(--inactiveBackground);
  color: var(--inactiveFont);
  pointer-events: none;
  transition: all 250ms ease-in-out;
}

button[name='reSend'].active{
  border-color: var(--darkblue);
  color: var(--darkblue);
  pointer-events: inherit;
}

.code-number-group{
  display: flex;
  flex-wrap: wrap;
}

.code-number-group > *{
  flex: 1;
  flex-basis: 100%;
}

#email-form .code-number-group label {
  padding: 0;
}

#email-form .code-number-group input[type=number]{
  margin: 0;
}


/* input[type=number] 화살표 삭제 */
#email-form input[type=number]::-webkit-outer-spin-button,
#email-form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#email-form input[type=number] {
  -moz-appearance: textfield;
}

.code-number{
  min-width: 100px;
}

#email-form button[name=next]{
  margin: 12px 0;
}

#email-form button[name=next].active{
  background-color: var(--active);
}

.sns-button-group{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sns-title{
  flex-basis: 100%;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
}

.sns-button{
  width: 48px;
  height: 48px;
  margin: 0 6px 12px 6px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.sns-button[name="naver"]{
  background-color: var(--bgGreen);
  background-image: url('../assets/images/icon-naver.svg');
  background-size: 20px;
}

.sns-button[name="facebook"]{
  background-color: var(--bgBlue);
  background-image: url('../assets/images/icon-facebook.svg');
  background-size: 13px;
}

.sns-button[name="apple"]{
  background-color: #000;
  background-image: url('../assets/images/icon-apple.svg');
  background-size: 19px 22px;
  background-position: 15px 12px;
}
