/* >= 640px (tablet) */
@media screen and (min-width: 640px) {
  /* Banner */
  #banner{
    padding: 0 16px;
    margin-bottom: 32px;
  }


  /* Ranking */
  .section-title{
    padding: 0 16px;
  }

  #ranking-option{
    padding: 0 16px;
  }


  /* 신규 코믹스 - 신작 연재 */
  #new-webtoon .works-list-items{
    width: calc((100% - 64px) / 4);
  }


  /* 장르별 코믹스 - Aside (제휴) */
  #point{
    padding: 8px 16px;
  }


  /* 장르별 코믹스 - Aside (세일) */
  #sale-list{
    padding: 8px 16px;
    padding-top: 0;
  }

  .sale-list-items{
    margin-right: 16px;
    width: 320px;
  }


  /* 굿즈 */
  #goods-list{
    padding: 8px 16px;
    padding-top: 0;
  }


  /* 레진챌린지 */
  #challenge{
    padding: 8px 16px;
  }
}

/* >= 960px (tablet) */
@media screen and (min-width: 960px) {
  /* Banner */
  #banner{
    padding: 0;
    margin-bottom: 44px;
  }


  /* Ranking */
  .section-title{
    padding: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
  }

  #ranking-option{
    padding: 0;
  }


  /* 신규 코믹스 - 신작 연재 */
  #new-webtoon .works-list-items{
    width: calc((100% - 48px) / 4);
  }

  #new-webtoon .works-title{
    padding-top: 12px;
    margin-bottom: 16px;
  }


  /* 장르별 코믹스 - Aside (제휴) */
  #point{
    padding: 0;
    padding-top: 24px;
    margin-bottom: 48px;
  }

  #point-anchor{
    background-color: rgba(0, 0, 0, 0);
  }

  #point-image{
    width: 100%;
    height: auto;
  }


  /* 장르별 코믹스 - Aside (세일) */
  #sale{
    margin-bottom: 8px;
  }

  #sale-list{
    padding: 0;
    overflow-x: hidden;
  }

  .sale-list-items{
    width: calc((100% - 32px) / 3);
  }


  /* 굿즈 */
  #goods{
    padding-top: 24px;
    margin-bottom: 8px;
  }

  #goods-list{
    padding: 0;
    overflow-x: hidden;
  }


  /* 레진챌린지 */
  #challenge{
    padding: 0;
    padding-top: 24px;
    margin-bottom: 48px;
  }

  #challenge-anchor{
    background-color: rgba(0, 0, 0, 0);
  }

  #challenge-image{
    width: 100%;
    height: auto;
  }
}


/* >= 1280px (wide desktop) */
@media screen and (min-width: 1280px) {
  /* 신규 코믹스 - 신작 연재 */
  #new-webtoon .works-list-items{
    width: calc((100% - 72px) / 4);
  }


  /* 장르별 코믹스 - Aside (세일) */
  .sale-list-items{
    margin-right: 24px;
    width: calc((100% - 48px) / 3);
  }
}
