/* >=640px (태블릿) */
@media screen and (min-width: 640px) {
  /* Layout */
  /* Layout - Header */
  .lezhin-header{
    padding: 0 16px;
  }

  /* Layout - Main */
  .lezhin-main{
    padding: 0 16px;
  }

  /* Layout - Aside */
  .lezhin-aside{
    padding: 0 16px;
  }



  /* Header */
  /* Header - LOGO */
  .lezhin-header-anchor{
    left: -4px;
  }

  /* Header - DIV.lezhin-header-button-group */
  .lezhin-header-button-group{
    right: -8px;
  }

  .move-to-challenge{
    margin-right: 4px;
  }

  /* Header - Navigation */
  .lezhin-header-nav{
    padding: 0 2%;
  }
}


/* >=960px (데스크탑) */
@media screen and (min-width: 960px) {
  /* Layout */
  /* Layout - Header */
  .lezhin-header{
    border-top: 24px solid rgba(0, 0, 0, 0);
    border-bottom: 24px solid rgba(0, 0, 0, 0);
  }

  /* Layout - Main-Section */
  .main-section{
    padding-top: 24px;
    margin-bottom: 8px;
  }

  /* Layout - Aside */
  .lezhin-aside{
    padding: 0 16px;
    padding-top: 140px;
    margin-bottom: 60px;
  }

  /* Layout - Footer */
  .lezhin-footer{
    padding: 0;
  }



  /* Main */
  /* Main - Section-Title */
  .main-section-title{
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.4;
  }


  /* Header */
  /* Header - div */
  .lezhin-header > div{
    margin-bottom: 0;
  }

  /* Header - LOGO */
  .lezhin-header-anchor{
    position: relative;
    left: 0;
    width: 64px;
    height: 64px;
    padding: 0;
  }

  .lezhin-header-anchor::after{
    background-size: 27px 29px;
  }

  /* Header - DIV.lezhin-header-button-group */
  .lezhin-header-button-group{
    right: 0;
    justify-content: space-between;
    align-items: center;
    width: 285px;
  }

  .move-to-challenge{
    order: 1;
    width: 110.5px;
    height: 32px;
    margin: 0;
    border-radius: 100px;
    background-color: #000;
    background-image: none;
  }

  .move-to-challenge::before{
    content: '레진 챌린지';
    position: absolute;
    left: 36px;
    top: 0;
    z-index: 2;
    text-align: center;
    font-size: 12px;
    line-height: 2.666666666666667;
    color: #FFF;
  }

  .move-to-challenge::after{
    content: '';
    position: relative;
    left: 6px;
    top: 0;
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../../assets/images/icon-challenge-desktop.png");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center center;
  }

  .search-button{
    order: 2;
    margin-right: 0;
  }

  .login-button{
    order: 3;
    width: 86px;
    padding: 0;
    background-image: url("../../assets/images/icon-login-desktop.svg");
  }

  .login-button > span{
    left: 0px;
    width: 58px;
    padding: 0 12px;
    font-size: 12px;
    line-height: 2.25;
  }

  /* Header - Navigation */
  .lezhin-header-nav{
    position: absolute;
    left: 128px;
    top: 50%;
    transform: translateY(-50%);
    width: 360px;
    padding: 0;
  }

  .lezhin-header-nav-list-items{
    width: auto;
    margin-right: 12px;
  }

  .lezhin-header-nav-list-items > a::after{
    content: '';
  }

  .lezhin-header-nav-list-items > a:hover::after{
    content: '';
    display: inline;
    position: absolute;
    bottom: 8px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-right: 8px solid #FFF;
    border-left: 8px solid #FFF;
    padding: 0 8px;
    background-color: #000;
  }

  .lezhin-header-nav-list-items > a.up-icon{
    margin-right: 8px;
  }



  /* Main */
  /* Main - Article*/
  .article-title{
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.4;
  }

  /* Main - Article-work */
  .article-work-list-items{
    width: 100%;
    height: 84px;
    margin-bottom: 16px;
  }

  .article-work-thumbnail-group{
    width: 84px;
    height: 100%;
  }

  .article-work-rank-group{
    width: 48px;
    padding: 10px 8px;
  }

  .article-work-desc-title{
    font-size: 16px;
    line-height: 1.5;
  }


  /* Main - type(List) */
  .type-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-X: hidden;
  }

  .type{
    min-width: 68px;
    padding: 0 16px;
    margin: 8px;
    font-size: 16px;
    line-height: 2.5;
  }

  .rank-list > li:first-child .type{
    margin-left: 0;
  }

  .more-button{
    font-size: 14px;
    line-height: 3.428571428571429;
  }
}

/* >= 1054px (라지 데스트탑) */
@media screen and (min-width: 1054px) {
  /* Layout */
  .lezhin-header,
  .lezhin-main,
  .lezhin-aside{
    max-width: 1036px;
    margin: 0 auto;
  }
}



/* >=1280px (엑스트라 라지 데스크탑 ) */
@media screen and (min-width: 1280px) {
  /* Layout */
  .lezhin-header,
  .lezhin-main,
  .lezhin-aside{
    max-width: 1212px;
  }



  /* Header */
  /* Header - div */
  .lezhin-header > div{
    padding: 0;
  }

  /* Header - DIV.lezhin-header-button-group */
  .login-button > span{
    left: 0px;
    width: 58px;
    padding: 0 12px;
    font-size: 12px;
    line-height: 2.25;
  }

  /* Header - Navigation */
  .lezhin-header-nav-list-items{
    margin-right: 10px;
  }


  /* Main */
  /* Main - Article-work */
  .article-work-desc{
    padding-top: 8px;
  }
}
