/* Position - Relative */
.relative{
  position: relative;
  top: 0;
  left: 0;
}


/* Layout */
/* Layout - Header */
.lezhin-header{
  position: relative; left: 0; top:0;
  padding: 0 8px;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
}

/* Layout - Main */
.lezhin-main{
  display: block;
  padding: 0 8px;
  margin-bottom: 48px;
}

/* Layout - Main-Section */
.main-section{
  position: relative; left: 0; top:0;
  padding-top: 16px;
}

/* Layout - Aside */
.lezhin-aside{
  padding: 0 8px;
  padding-top: 16px;
  margin-bottom: 32px;
}

/* Layout - Footer */
.lezhin-footer{
  padding: 30px 0 33px 0;
}




/* Header - div */
.lezhin-header > div{
  display: flex;
  margin-bottom: 8px;
}


/* Header - LOGO */
.lezhin-header-anchor{
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  padding: 4px;
  margin-right: auto;
}

.lezhin-header-anchor::before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ED1C24;
}

.lezhin-header-anchor::after{
  content: '';
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/jaymee.svg");
  background-repeat: no-repeat;
  background-size: 20px 22px;
  background-position: center center;
}


/* Header - DIV.lezhin-header-button-group */
.lezhin-header-button-group{
  position: relative;
  top: 0;
  right: -4px;
  display: flex;
}

.move-to-challenge{
  margin-right: 8px;
  background-image: url("../../assets/images/icon-challenge.svg");
  background-repeat: no-repeat;
  background-position: center center;
}


/* Header - Navigation */
.lezhin-header-nav-list{
  display: flex;
}

.lezhin-header-nav-list-items{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lezhin-header-nav-list-items > a{
  padding: 0 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.428571428571429;
}



/* Main */
/* Main - Section-Title */
.main-section-title{
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

/* Main - Section-work-list */
.section-work-list{
  display: flex;
  width: auto;
  padding: 0 8px 8px 8px;
  margin-left: -8px;
  margin-right: -8px;
  overflow-x: auto;
  overflow-y: hidden;
}

.section-work-list-items{
  position: relative; left: 0; top: 0;
  display: flex;
  flex-direction: column;
  width: calc((100vw - 56px) / 3);
  flex-shrink: 0;
  margin-right: 8px;
  border-radius: 2px;
}

.section-work-list-items > picture{
  order: 1;
}

.section-work-list-items > .section-work-title{
  order: 2;
}

.section-work-list-items > .article-work-desc-event{
  order: 3;
}


.section-work-thumbnail{
  width: 100%;
  height: auto;
}

.section-work-title{
  padding-top: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.428571428571429;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-work-button-group{
  position: absolute;
  right: 0;
  top: 38px;
  transform: translateY(-50%);
  display: none;
}


/* Main - Article */
/* Main - Article-title */
.article-title-group{
  display: flex;
  align-items: center;
}

.article-title{
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}


/* Main - Article-work */
.article-work-list{
  padding-top: 8px;
}

.article-work-list-items{
  display: flex;
  width: 100%;
  height: 72px;
  margin-bottom: 16px;
}

.article-work-list-items:last-child{
  margin-bottom: 0;
}

.article-work-thumbnail-group{
  flex-shrink: 0;
  position: relative; left: 0; top: 0;
  width: 72px;
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.article-work-thumbnail{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}

.article-work-rank-group{
  flex-shrink: 0;
  width: 40px;
  height: 100%;
  padding: 4px;
}

.article-work-rank,
.article-work-rank-change{
  display: inline-block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.article-work-rank{
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.article-work-rank-change{
  font-size: 12px;
  line-height: 1.333333333333333;
  color: #707070;
}

.article-work-desc{
  padding-top: 4px;
  flex-grow: 1;
  width: calc(100% - 132px);
}

.section-work-desc-title-group,
.article-work-desc-title-group{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.article-work-desc-title-group > strong{
  flex-shrink: 0;
  margin-top: 2px;
}

.article-work-desc-title{
  font-size: 14px;
  line-height: 1.428571428571429;
  overflow: hidden;
  text-overflow: ellipsis;
}


.section-work-desc-author,
.section-work-desc-author > span,
.article-work-desc-author,
.article-work-desc-author > span,
.article-work-desc-event{
  font-size: 12px;
  line-height: 1.333333333333333;
  color: #333333;
}

.section-work-desc-author,
.article-work-desc-author{
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-work-desc-event{
  color: #707070;
}


/* Main - Button */
/* Size-48-button */
.size-48-button{
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0);
}

/* More-button */
.more-button{
  padding: 0 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 4;
  color: #5A719A;
}

/* Search-button */
.search-button{
  margin-right: 4px;
  background-image: url("../../assets/images/icon-search.svg");
}

/* Login-button */
.login-button{
  width: 72px;
  height: 48px;
  padding: 0 8px;
  background-image: url("../../assets/images/icon-login.svg");
  background-color: rgba(0, 0, 0, 0);
}

.search-button,
.login-button{
  background-repeat: no-repeat;
  background-position: center center;
}

.login-button > span{
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 36px;
  padding: 0 4px;
  font-size: 10px;
  font-weight: 500;
  line-height: 2;
  word-break: keep-all;
}

/* Page-language-button */
.lezhin-page-language-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 28px;
  padding: 0 12px;
  text-align: left;
  border: 1px solid #222;
  background-color: #313131;
  color: #A3A3A3;
  transition: color 250ms ease-in-out;
}

.lezhin-page-language-button::after{
  content: '';
  width: 10px;
  height: 10px;
  background-image: url("../../assets/images/language-button-arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
}

.lezhin-page-language-button:hover::after{
  fill: #CCCCCC;
}

.lezhin-page-language-button:hover,
.lezhin-page-language-button:active,
.lezhin-page-language-button:focus,{
  color: #CCCCCC;
}

/* Section-work-button */
.section-work-button{
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: 1px solid #dbdee3;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../assets/images/section-work-button.svg");
  background-repeat: no-repeat;
}



/* Work-pre-button */
.work-pre-button{
  border-right: 1px solid #FFFFFF;
  border-radius: 3px 0 0 3px;
  background-position: right;
}

/* Work-next-button */
.work-next-button{
  border-radius: 0 3px 3px 0;
}

.work-button-active{
  background-image: url("../../assets/images/section-work-button-active.svg");
}

.work-button-active:hover{
  border: 1px solid #333333;
}

.work-button-inactive{
  cursor: not-allowed;
}




/* Main - type(List) */
.type-list{
  display: flex;
  width: 100%;
  overflow-X: auto;
}

.type{
  display: block;
  min-width: 48px;
  padding: 0 12px;
  margin: 6px 4px;
  text-align: center;
  font-size: 12px;
  line-height: 2.666666666666667;
  word-break: keep-all;
  border-radius: 100px;
  background-color: #EFF1F4;
  color: inherit;
}

.type-list > li:first-child .type{
  margin-left: 8px;
}

.type-active{
  background-color: #EB0026;
  color: #FFF;
}




/* Footer */
.lezhin-footer{
  background-color: #f7f8f9;
  color: #727272;
}

.lezhin-footer-items{
  display: none;
}

.lezhin-info,
.lezhin-desc{
  display: block;
}


/* Footer - (lezhin-logo) */
.lezhin-logo{
  position: absolute;
  left: 16px;
  top: 60px;
}

.lezhin-logo-image{
  width: 128px;
  height: auto;
  margin-bottom: 10px;
}

.lezhin-logo-company,
.lezhin-logo-boss{
  font-size: 12px;
  line-height: 1.5;
}

/* Footer - Definition List */
.lezhin-footer-dl{
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.lezhin-footer-dt,
.lezhin-footer-dd{
  font-size: 12px;
}

.lezhin-footer-dt{
  margin-right: 4px;
}

.lezhin-footer-dd{
  white-space: normal;
}

/* Footer - Definition List(lezhin-desc) */
.lezhin-desc{
  padding: 25px 0 33px 0;
}

.lezhin-footer-dl > div{
  display: flex;
  justify-content: center;
}

.lezhin-footer-anchor{
  font-size: 12px;
}

.lezhin-footer-dl .lezhin-desc-fax,
.lezhin-desc-address .lezhin-footer-dd:last-child,
.lezhin-footer-dl .lezhin-desc-business-contact{
  display: none;
}




/* Footer - List */
.lezhin-footer-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* Footer - List(lezhin-page-language) */
.lezhin-page-language{
  position: absolute;
  top: 60px;
  right: 15px;
  z-index: 1;
}

.lezhin-page-language-title{
  padding: 0 13px 0 15px;
}

.language-list{
  position: absolute;
  top: 100%;
  right: 0;
  z-index: -1;
  display: none;
  padding-top: 2px;
  background-color: #222222;
  animation-name: slide-10percent;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.language-list-anchor{
  display: flex;
  align-items: center;
  width: 150px;
  padding-left: 14px;
  line-height: 2.857142857142857;
  transition: color 250ms ease-in-out;
}

.language-list-anchor:hover,
.selected-language{
  color: #CCCCCC;
}




/* Footer - List(lezhin-info) */
.lezhin-info .lezhin-footer-list-items > a{
  margin: 0 10px;
  line-height: 3.428571428571429;
  text-decoration: underline;
}


/* Footer - List (lezhin-prize-list) */
.lezhin-prize{
  background-color: #313131;
  transition: color 250ms ease-in-out;
}

.lezhin-prize:hover{
  color: #A3A3A3;
}

.lezhin-price-list-items{
  display: flex;
  font-size: 12px;
  line-height: 4.166666666666667;
  margin-right: 20px;
}

.lezhin-price-image-group{
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.lezhin-price-list-items:nth-child(3) .lezhin-price-image-group{
  width: 120px;
}

.lezhin-price-list-items:nth-child(4) .lezhin-price-image-group{
  width: 60px;
}

.prize-1,
.prize-2,
.prize-3,
.prize-4{
  position: relative;
}

.prize-2{
  top: -50px;
}

.prize-3{
  top: -100px;
}

.prize-4{
  top: -150px;
}



/* Footer - p(lezhin-copyright) */
.lezhin-copyright{
  white-space: normal;
}


/* 강조효과 */
.header-nav-active::after{
  content: '';
  position: absolute;
  bottom: 8px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-right: 8px solid #FFF;
  border-left: 8px solid #FFF;
  background-color: #000;
}
