/* Modal */
/* Login-modal */
/* lobgin-modal - common */
.login-modal-anchor{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 3.428571428571429;
  border-radius: 100px;
}

.another-account-anchor{
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 6px;
  border-radius: 50%;
}

.email-login-anchor{
  line-height: 3.428571428571429;
  color: #333333;
}

/* Login-modal - login-modal */
.login-modal{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  opacity: 0;
}

/* lobgin-modal - modal-close */
.login-close{
  position: relative;
  top: 0;
  left: 100%;
  width: 48px;
  height: 48px;
  margin-top: 8px;
  background-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
}

.login-close::before,
.login-close::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: 23px 15px;
  background-color: #8F949C;
}

.login-close::before{
  transform: rotate(45deg);
}

.login-close::after{
  transform: rotate(-45deg);
}

/* lobgin-modal - login-modal-container */
.login-modal-container{
  padding: 0 16px;
  padding-bottom: 16px;
}

/* lobgin-modal - recently-login-account */
.recently-login-account{
  padding-top: 24px;
  margin-bottom: 12px;
}

.recently-login-account-title{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: 16px;
}

.latest-naver-login{
  background-color: #00C73C;
  color: #FFF;
}

.latest-naver-login::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../../assets/images/icon-naver.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

/* lobgin-modal - another-account */
.another-account{
  padding-top: 24px;
  margin-bottom: 24px;
}

.another-account-anchor-group{
  display: flex;
  justify-content: center;
}

.another-account-title{
  margin-bottom: 16px;
  text-align: center;
  color: #333333;
}

.naver-login{
  background-color: #00C73C;
  background-image: url("../../assets/images/icon-naver.svg");
  background-repeat: no-repeat;
  background-size: auto 18px;
  background-position: center;
}

.facebook-login{
  background-color: #1877F2;
  background-image: url("../../assets/images/icon-facebook.svg");
  background-repeat: no-repeat;
  background-size: auto 24px;
  background-position: center;
}

.apple-id-login{
  background-color: #000;
  background-image: url("../../assets/images/icon-apple.svg");
  background-repeat: no-repeat;
  background-size: 19px auto;
  background-position: 15px 12px;
}

/* lobgin-modal - email-login */
.email-login{
  margin-bottom: 24px;
}

.select-email{
  border: 1px solid #ACB4BF;
  margin-bottom: 4px;
}

.email-login-anchor-group{
  padding: 0 4px;
}

.go-to-sign-in{
  font-weight: 500;
  text-decoration: underline;
}

.find-password{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #585858;
}

/* lobgin-modal - notice-contact */
.notice-contact{
  display: flex;
  flex-direction: column;
}

.login-modal-notice,
.login-modal-contact{
  font-size: 16px;
  line-height: 3.75;
  text-align: left;
  border-bottom: 1px solid #EFF1F4;
  color: #333333;
  background-color: rgba(0, 0, 0, 0);
}



/* Aside - Serial-inquiry-modal */
.serial-inquiry-modal-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.serial-inquiry-modal{
  position: relative;
  top: 50%;
  left: 0;
  padding: 24px;
  padding-top: 32px;
  background-color: #FFF;
  color: #333333;
  transform: translateY(-50%);
}

.serial-inquiry-title{
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.4;
}

.serial-inquiry-div{
  margin-bottom: 24px;
}

.serial-inquiry-div:last-child{
  margin-bottom: 0;
}

.serial-inquiry-subtitle{
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.serial-inquiry-news{
  vertical-align: top;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #EB0026;
}

.serial-inquiry-paragraph{
  white-space: normal;
  word-break: keep-all;
  color: #585858;
  margin-bottom: 16px;
  line-height: 1.714285714285714;
}

.serial-inquiry-paragraph > strong,
.serial-inquiry-paragraph:last-child > .serial-inquiry-anchor{
  white-space: normal;
}

.serial-inquiry-paragraph:last-child{
  margin-bottom: 0;
}

.serial-inquiry-anchor{
  text-decoration: underline;
  color: #5A719A;
}

.serial-inquiry-close{
  position: relative; top: 0;
  left: 100%;
  transform: translateX(-100%);
  padding: 0 20px;
  margin: 0;
  line-height: 2.857142857142857;
  border-radius: 2px;
  background-color: #EB0026;
  color: #FFF;
}



/* 모달효과 */
.body-scroll-off{
  /* overflow-y: hidden; */
  width: 100vw;
}

.hidden{
  overflow-y: hidden;
  touch-action: none;
}

.modal-active{
  display: block;
  opacity: 1;
}

.modal-open-animation{
  display: block;
  animation-name: modal-open;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.modal-close-animation{
  animation-name: modal-close;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}
