/* >=960px (데스크탑) */
@media screen and (min-width: 960px) {
  /* Login-modal - login-modal */
  .login-modal{
    position: absolute;
    top: -24px;
    left: auto;
    right: 16px;
    width: 280px;
    height: auto;
    border: 1px solid #DBDEE3;
  }

  /* lobgin-modal - recently-login-account */
  .recently-login-account{
    margin-bottom: 40px;
  }

  /* lobgin-modal - another-account */
  .another-account{
    padding-top: 0;
  }

  /* lobgin-modal - notice-contact */
  .login-modal-contact{
    border: none;
  }

  /* 모달효과 */
  .body-scroll-off{
    overflow-y: scroll;
    width: 100%;
  }

  .modal-active{
    width: 280px;
  }

  .modal-open-animation{
    display: block;
    animation-name: modal-open-960px;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
  }

  .modal-close-animation{
    animation-name: modal-close-960px;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
  }
}
