/* >= 640px (tablet) */
@media screen and (min-width: 640px) and (max-width: 960px) {
  /* 작품목록 */
  .article-title{
    padding: 0 16px;
  }

  .works-list{
    padding: 8px 16px;
    padding-top: 0;
    overflow-x: auto;
  }

  .works-list-items{
    width: calc((100% - 96px) / 6);
    margin-right: 16px;
  }


  /* header */
  #header{
    padding: 0 16px;
    margin: 12px 0;
  }

  #logo{
    padding: 0;
  }

  #search-group{
    margin-right: -16px;
  }

  .all{
    margin-right: 30px;
  }
}

/* > 960px (tablet) */
@media screen and (min-width: 960px) and (max-width: 1280px) {
  /* 여러개 중 하나 선택 CSS */
  .select-container{
    padding: 8px 0;
    white-space: normal;
  }

  .select-content{
    min-width: 68px;
    height: 40px;
    padding: 0 16px;
    margin: 8px;
    font-size: 14px;
  }

  .select-content:hover{
    background-color: #dbdee3;
  }

  /* 작품목록 */
  .works-article{
    padding-top: 24px;
    margin-bottom: 8px;
  }

  .article-title{
    padding: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
  }

  .works-list{
    padding: 0;
    overflow-x: hidden;
  }

  .works-list-items{
    width: calc((100% - 80px) / 6);
    margin-right: 16px;
  }

  .works-title{
    font-size: 16px;
    line-height: 24px;
  }


  /* header */
  #header{
    align-items: center;
    padding: 0 16px;
    margin: 24px 0;
  }

  #logo{
    padding: 0;
    margin: 0;
  }

  #logo-anchor{
    padding: 12px calc(37px/2);
    line-height: 64px;
  }

  #logo-image{
    width: auto;
    height: auto;
  }

  #navigation{
    order: 2;
    width: auto;
    padding: 0;
    margin-left: 48px;
    margin-right: auto;
    overflow-x: hidden;
  }

  #nav-menu{
    padding: 0;
  }

  .menu-anchor{
    position: relative;
  }

  .menu-anchor:hover::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%; bottom: 0;
    width: calc(100% - 16px);
    height: 2px;
    transform: translate(-50%, -400%);
    background-color: #000;
  }

  #search-group{
    order: 3;
  }

  .all{
    margin-right: 14px;
  }


  /* Main */
  #main{
    padding: 0 16px;
  }
}


/* >= 1054px (desktop) */
@media screen and (min-width: 1054px) {
  /* Header */
  #header{
    max-width: 1036px;
    margin: 24px auto;
  }


  /* Main */
  #main{
    max-width: 1036px;
    margin: 0 auto 48px auto;
  }
}

/* >= 1280px (wide desktop) */
@media screen and (min-width: 1280px) {
  /* 여러개 중 하나 선택 CSS */
  .select-container{
    padding: 8px 0;
    white-space: normal;
  }

  .select-content{
    min-width: 68px;
    height: 40px;
    padding: 0 16px;
    margin: 8px;
    font-size: 16px;
  }


  /* 작품목록 */
  .works-article{
    padding-top: 24px;
    margin-bottom: 8px;
  }

  .article-title{
    padding: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
  }

  .works-list{
    padding: 0;
    overflow-x: hidden;
  }

  .works-list-items{
    width: calc((100% - 120px) / 6);
    margin-right: 24px;
  }

  .works-title{
    font-size: 16px;
    line-height: 24px;
  }


  /* header */
  #header{
    align-items: center;
    max-width: 1212px;
    padding: 0;
  }

  #logo{
    padding: 0;
    margin: 0;
  }

  #logo-anchor{
    padding: 12px calc(37px/2);
    line-height: 64px;
  }

  #logo-image{
    width: auto;
    height: auto;
  }

  #navigation{
    order: 2;
    width: auto;
    padding: 0;
    margin-left: 48px;
    margin-right: auto;
    overflow-x: hidden;
  }

  #nav-menu{
    padding: 0;
  }

  #search-group{
    order: 3;
  }

  .all{
    margin-right: 14px;
  }


  /* Main */
  #main{
    max-width: 1212px;
  }
}
