/* >= 640px (tablet) */
@media screen and (min-width: 640px) {
  /* Banner */
  #banner{
    padding: 0 16px;
    margin-bottom: 32px;
  }


  /* Ranking */
  .section-title{
    padding: 0 16px;
  }

  #ranking-option{
    padding: 0 16px;
  }

  #ranking-list{
    padding: 0 16px;
    padding-top: 16px;
  }

  .ranking-more{
    transform: translateX(-16px);
  }


  /* 신규 코믹스 - 신작 연재 */
  #new-webtoon .works-list-items{
    width: calc((100% - 64px) / 4);
  }


  /* 장르별 코믹스 - Aside (세일) */
  #sale-list{
    padding: 8px 16px;
    padding-top: 0;
  }

  .sale-list-items{
    margin-right: 16px;
    width: 320px;
  }


  /* 굿즈 */
  #goods-list{
    padding: 8px 16px;
    padding-top: 0;
  }


  /* 중간배너
  - 장르별 코믹스 - Aside (제휴)
  - 레진챌린지 */
  .mid-banner{
    padding: 8px 16px;
  }


  /* Aside */
  #aside{
    padding: 16px 16px 0 16px;
  }
}

/* >= 960px (tablet) */
@media screen and (min-width: 960px) {
  /* Banner */
  #banner{
    padding: 0;
    margin-bottom: 44px;
  }


  /* Ranking */
  .section-title{
    padding: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
  }

  #ranking-content{
    padding: 0 8px;
  }

  #ranking-option{
    padding: 0;
  }

  #ranking-list{
    min-height: 308px;
    padding: 0;
    padding-top: 8px;
  }

  .no-webtoon{
    min-height: 300px;
  }

  .rank{
    padding-top: 10px;
    width: 48px;
  }

  .rank-webtoon-info{
    padding-top: 8px;
  }

  .rank-webtoon-name{
    font-size: 16px;
    line-height: 1.5;
  }

  i[class*=icon]{
    vertical-align: top;
  }

  .ranking-more{
    transform: translateX(0);
  }

  .ranking-option-active::after{
    height: 0;
  }

  .rank-webtoon-thumbnail{
    width: 84px;
    height: 84px;
  }


  /* 신규 코믹스 - 신작 연재 */
  #new-webtoon .works-list-items{
    width: calc((100% - 48px) / 4);
  }

  #new-webtoon .works-title{
    padding-top: 12px;
    margin-bottom: 16px;
  }


  /* 장르별 코믹스 - Aside (세일) */
  #sale{
    margin-bottom: 8px;
  }

  #sale-list{
    padding: 0;
    overflow-x: hidden;
  }

  .sale-list-items{
    width: calc((100% - 32px) / 3);
  }


  /* 굿즈 */
  #goods{
    padding-top: 24px;
    margin-bottom: 8px;
  }

  #goods-list{
    padding: 0;
    overflow-x: hidden;
  }


  /* 중간배너
  - 장르별 코믹스 - Aside (제휴)
  - 레진챌린지 */
  .mid-banner{
    padding: 0;
    padding-top: 24px;
    margin-bottom: 48px;
  }

  .mid-banner-anchor{
    background-color: rgba(0, 0, 0, 0);
  }

  .mid-banner-image{
    width: 100%;
    height: auto;
  }


  /* Aside */
  #aside{
    padding: 40px 16px 0 16px;
    margin-bottom: 60px;
  }

  #aside-title{
    line-height: 100px;
  }

  #aside-image{
    height: 32px;
  }

  #app .app-anchor{
    width: calc((100% - 32px) / 3);
  }

  .app-anchor:first-child{
    margin-bottom: 0;
  }

  .app-anchor:nth-child(2){
    order: 3;
  }

  .app-anchor:nth-child(3){
    order: 2;
  }
}


/* >= 1054px (desktop) */
@media screen and (min-width: 1054px) {
  /* Aside */
  #aside{
    max-width: 1036px;
    padding: 0;
    padding-top: 40px;
    margin: 0 auto 60px auto;
  }
}


/* >= 1280px (wide desktop) */
@media screen and (min-width: 1280px) {
  /* 신규 코믹스 - 신작 연재 */
  #new-webtoon .works-list-items{
    width: calc((100% - 72px) / 4);
  }


  /* 장르별 코믹스 - Aside (세일) */
  .sale-list-items{
    margin-right: 24px;
    width: calc((100% - 48px) / 3);
  }


  /* Aside */
  #aside{
    max-width: 1212px;
  }

  #app .app-anchor{
    width: calc((100% - 48px) / 3);
  }
}
