/* >=640px (태블릿) */
@media screen and (min-width: 640px) {
  /* Nav - serialization-nav */
  .serialization-nav .type-list{
    justify-content: center;
    padding: 6px 0;
    padding-left: 8px;
    margin: 0 -16px;
    width: 100%;
  }


  /* Section - Serialization-webtoon */
  .serialization-list{
    display: flex;
    flex-wrap: wrap;
  }

  .serialization-list-items{
    width: calc((100% - 16px) / 2);
    margin: 0 16px 16px 0;
  }

  .serialization-list-items:nth-child(2n){
    margin: 0 0 16px 0;
  }
}


/* >=960px (데스크탑) */
@media screen and (min-width: 960px) {
  /* Nav - serialization-nav */
  .serialization-nav .type-list{
    padding: 8px 0;
    margin: 0;
  }


  /* Section - Serialization-webtoon */
  .monday-webtoon{
    padding: 16px 0 8px 0;
  }

  .serialization-list-items,
  .serialization-list-items:nth-child(2n){
    width: calc((100% - 48px) / 4);
    margin: 0 16px 16px 0;
  }

  .serialization-list-items:nth-child(4n){
    margin: 0 0 16px 0;
  }
}


/* >= 1054px (라지 데스트탑) */
@media screen and (min-width: 1054px) {

}


/* >=1280px (와이드 데스크탑) */
@media screen and (min-width: 1280px) {
  /* Section - Serialization-webtoon */
  .serialization-list-items,
  .serialization-list-items:nth-child(2n){
    width: calc((100% - 72px) / 4);
    margin: 0 24px 16px 0;
  }

  .serialization-list-items:nth-child(4n){
    margin: 0 0 16px 0;
  }
}
